.forecast-container {
  margin-bottom: 24px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.forecast-details {
  margin-top: 16px;
  padding-left: 16px;
  
}

.forecast-detail {
  margin-bottom: 12px;
}